/* Global*/
:root {
    font-size: 62.5%;
}
/* Reset margin and padding */
.container, .col {
    padding: 0;
}
.row {
    margin: 0;
}
/* Layout properties */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}
.container {
    margin-top: 10rem;
}
.h1, p {
    color: #121212;
}
.sea {
    height: 40.8rem;
    background-color: #FFFFFF;
}
.sea .img-container {
    height: 40.8rem;
}
.sea img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.description-container {
    border-top: 1px solid #F0F0F0;
}
.text-container {
    width: 35rem;
}
.text-container p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding-bottom: 3.65rem;
}
.text-container .h1 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 4.9rem;
    padding-top: 8.6rem;
    padding-bottom: 4.1rem;
}
.btn {
    width: 13.5rem;
    height: 4.7rem;
    border-radius: 4.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.5rem;
    background-color: #E4C1AE;
    color: #FFFFFF;
}
.btn:hover {
    background-color: #e6a17c;
}
/* Media Queries */
@media (max-width: 767px) {
    .sea {
        height: 81.6rem;
   }
    .sea .img-container {
        max-height: 50%;
   }
}
@media (max-width: 640px) {
    :root {
        font-size: 50%;
   }
}
